body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 1;
    color: #000000;
    background-color: white;
}

a {
    text-decoration: none;
}

.top-header-wrapper {
    display: flex;
    list-style: none;
    background-color: #293449;
    justify-content: space-around;
    /* justify-content: space-between; */
}

.main-header {
    display: block;
    box-sizing: border-box;
    width: 1200px;
    height: 320px;
    padding-bottom: 60px;
    background-color: #f4f7f9;
}

.main-header .logo {
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    margin-left: 130px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 55px;
    padding-right: 56px;
}

.header-search {
    padding-top: 14px;
    padding-bottom: 21px;
}

input[type="search"] {
    background-color: #293449;
    border: none;
}

.header-navigation {
    padding-bottom: 13px;
    padding-top: 14px;
}

.site-navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.header-auth {
    display: flex;
    list-style: none;
    margin-right: 152px;
}

.middle-head-wrapper {
    display: flex;
    justify-content: space-around;
}

.logo {
    background-color: #ee3643;
}

.about-us-text {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 13px;
}

.header-search,
.header-navigation a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    color: #ffffff;
    background-color: #293449;
}

.header-navigation .header-checkout {
    background-color: #63a63e;
    padding-left: 20px;
    padding-right: 22px;
    padding-bottom: 13px;
    padding-top: 14px;
}

.header-tagline {

    font-size: 16px;
    color: #ee3643
}

.header-contact {
    font-size: 14px;
    line-height: 1.71;
    color: #32425c;
}

.header-phone {
    font-size: 21px;
    color: #ee3643
}

.header-auth li a {
    color: #000000;
    font-size: 21px;
    background-color: white;
}

.site-navigation a {
    padding-top: 22px;
    padding-bottom: 26px;
    padding-left: 52px;
    padding-right: 56px;
    font-size: 17px;
    color: #ffffff;
    background-color: #32425c;
}

h2 {
    font-size: 30px;
}

.transport-list {
    font-size: 18px;
}

.about-us-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.middle-footer-logo-adress {
    display: flex;
    flex-direction: column;
}


.about-us-link,
.feedback-button {
    font-size: 14px;
    color: #ffffff;
    background-color: #ee3643;
}

.feedback-form {
    display: none;
}

footer p,
footer ul a {
    font-size: 18px;
    color: #f3f7f9;
    background-color: #32425c;
}

.footer-offers a,
.footer-contacts p a {
    color: #ffda96;
}

.footer-contacts {
    display: flex;
    justify-content: space-around;
    background-color: #293449;
    font-size: 16px;
}

.middle-footer-wrapper {
    display: flex;
    background-color: #32425c;
}

.footer-contacts .socials {
    display: inline;
}

.header-navigation .cart {
    background-color: #ee3643;
}

.users-options li a {
    font-size: 14px;
    color: #32425c;
    text-decoration-line: underline;
}

.users-name {
    font-size: 21px;
    color: #000000;
}

.breadcrumbs {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 13px;
}

h1 {
    font-size: 30px;
    color: #32425c;
}

.catalog-filter legend {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 17px;
}

.catalog-filter li label {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.33;
}

.catalog-filter button {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 13px;
}

.buy_add-item {
    display: none;
}

.item-list a {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 18px;
}

.item-list del {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 17px;
    color: #999999;
}

.item-list .price {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 17px;
    color: #ffffff;
    background-color: #ee3643;
}