/* Common styles */
body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 1.44;
    color: #000000;
    background-color: white;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Header styles */
.top-header {
    background-color: #293449;
}

.top-header-wrapper {
    display: flex;
    list-style: none;
}

.main-header {
    padding-bottom: 60px;
    background-color: #f4f7f9;
}

.logo {
    padding: 13px 56px 15px 55px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}



.header-search {
    display: flex;
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 18px;
    padding-right: 26px;
}

.header-search ::placeholder {
    color: #ffffff;
}

.search-field {
    background-color: #293449;
    border: none;

    position: relative;
    padding-left: 50px;
}

.header-search::before {
    content: "";
    position: absolute;

    top: 15px;
    left: 13px;

    width: 17px;
    height: 17px;

    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}


.header-navigation li {
    display: flex;
    justify-content: space-between;
}


.header-navigation a {
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 18px;
    padding-right: 26px;

}

.header-navigation .bookmark-link {
    position: relative;
    padding-left: 40px;
}

.bookmark-link::before {
    content: "";
    position: absolute;

    top: 15px;
    left: 13px;

    width: 14px;
    height: 16px;

    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.header-navigation .cart-link {
    position: relative;
    padding-left: 40px;
}

.cart-link::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 13px;

    width: 14px;
    height: 16px;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}


.site-navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #32425c;
    padding: 22px 55px 23px 52px;
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.middle-header-wrapper .container {
    display: flex;
    justify-content: space-around;
}

.header-search,
.header-navigation a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 1.06;
    color: #ffffff;
    background-color: #293449;
}

.header-navigation .header-checkout,
.header-checkout:focus {
    background-color: #63a63e;
}

.header-checkout:hover {
    background-color: #5fbb2d;
}

.header-checkout:active {
    background-color: #518534;
}

.bookmark-link:hover,
.cart-link:hover,
input[type="search"]:hover {
    background-color: #212a3a;
}

.bookmark-link:hover::before,
.cart-link:hover::before,
input[type="search"]:hover::before {
    opacity: 1;
}

.bookmark-link:active,
.cart-link:active {
    background-color: #161d29;
}

.bookmark-link:active::before,
.cart-link:active::before {
    opacity: 0.5;
}

.bookmark-link:focus,
.cart-link:focus {
    background-color: #293449;
}

input[type="search"]:focus {
    background-color: #ffffff;
}

.header-auth a:hover {
    color: red;
}

.enter-link:hover::before {
    opacity: 1;
}

.header-auth a:active {
    color: rgba(0, 0, 0, 0.3);
}


.middle-header-wrapper .container {
    margin-bottom: 44px;
    margin-top: 46px;
}

.header-tagline {
    font-size: 16px;
    line-height: 1.44;
    color: #ee3643
}

.header-contact {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    color: #32425c;
}

.header-phone {
    font-size: 21px;
    line-height: 1;
    color: #ee3643;
    border: 3px solid #ffffff;
    padding-left: 50px;
    position: relative;
}

.header-contact span {
    margin-top: 10px;
}

.header-phone::before {
    content: "";
    position: absolute;

    top: 1px;
    left: 13px;

    width: 19px;
    height: 19px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}


.header-auth {
    display: flex;
    list-style: none;

}

.header-auth li {
    display: inline-block;
    margin-right: 10px;
}

.enter-link {
    position: relative;
    padding-left: 50px;

}

.enter-link::before {
    content: "";
    position: absolute;

    left: 0px;

    width: 19px;
    height: 19px;
    background-image: url(../img/icon-login.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.header-auth li a {
    color: #000000;
    font-size: 21px;
    line-height: 1;
    background-color: white;
    padding: 14px 25px 11px 25px;


}

.site-navigation a {
    font-size: 17px;
    line-height: 1;
    color: #ffffff;
    background-color: #32425c;
}

/* About-us styles */

.about-us-wrapper h2 {
    margin: 0;
    margin-bottom: 38px;
}

.about-us-wrapper .container {
    display: flex;
    justify-content: space-between;

}

.about-us-text {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
}

.transport-list {
    font-size: 18px;
    line-height: 1.11;
}

.about-company,
.transport-list {
    padding: 0;
    margin-bottom: 86px;
}

.feedback-map {
    margin-left: 0;
    margin-right: 0;
}

.about-us-link,
.feedback-button {
    font-size: 14px;
    line-height: 1.29;
    color: #ffffff;
    background-color: #ee3643;
    padding: 14px 40px 12px 41px;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
    border: 2px solid #b5b5b5
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 2px solid #ee3643
}

/* Footer styles */
.top-footer-wrapper {
    background-color: #32425c;
}

.top-footer-wrapper .container {
    display: flex;
    padding: 20px;
}

.top-footer-logo-adress {
    display: flex;
    flex-direction: column;
}

.top-footer-adress {
    font-size: 18px;
    line-height: 1.33;
    color: #f3f7f9;
}

.top-footer-navigation a:hover {
    text-decoration-line: underline;
}

.footer-navigation a:active {
    color: rgba(241, 245, 247, 0.5)
}

.footer-offers a:active {
    color: rgba(255, 209, 128, 0.5);
}

.top-footer-navigation {
    display: flex;
    flex-direction: column;
}

.footer-navigation a {
    font-size: 18px;
    line-height: 1.33;
    color: #f1f5f7;
}

.footer-offers a {
    font-size: 18px;
    line-height: 1.33;
    color: #ffda96;
}

.top-footer-navigation li {
    display: inline-block;
}

.footer-contacts {
    background-color: #293449;
}

.footer-phone {
    color: #ffffff;
}

.footer-contacts .container {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px 35px 20px;
}

.bottom-footer-copywright {
    font-size: 16px;
    line-height: 1.13;
    color: #ffffff;
}

.footer-contacts .link:hover {
    text-decoration-line: underline;
}

.footer-contacts .link:active {
    color: red;
}

.footer-contacts .link {
    font-size: 16px;
    line-height: 1.13;
    color: #ffda96;
}

.footer-contacts .link-name {
    font-size: 16px;
    line-height: 1.13;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.socials {
    margin-left: auto;
}

.socials li {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #212a3a;
    display: inline-block;
    margin-left: 3px;
    position: relative;
}

.socials img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.link-name:nth-of-type(2) {
    margin-left: auto;
    margin-right: 53px;
}

/* Catalog styles */

.users-name {
    font-size: 21px;
    line-height: 1;
    color: #000000;
}

.users-options li a {
    font-size: 14px;
    color: #32425c;
    text-decoration-line: underline;
}

.users-options li {
    display: inline;
}

.users-options a:hover {
    color: #ee3643;
}

.users-options a:active,
.users-name a:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-wrapper {
    flex-direction: column;
}

.user-wrapper {
    position: relative;
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
}

.users-name::before {
    content: "";
    position: absolute;

    left: 10px;
    top: 10px;

    width: 20px;
    height: 18px;
    background-image: url(../img/icon-user.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.user-wrapper::after {
    content: "";
    position: absolute;

    right: 10px;
    top: 10px;

    width: 20px;
    height: 18px;
    background-image: url(../img/icon-logout.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.breadcrumbs {
    font-family: "PTSans", Arial, sans-serif;
    line-height: 1.38;
    font-size: 13px;
    display: flex;
}

.breadcrumbs li {
    list-style: none;
}

.catalog-colums {
    display: flex;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-name {
    font-size: 30px;
    line-height: 1;
    color: #32425c;
}

.catalog-filter legend {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 17px;
    line-height: 1.76;
}

.catalog-filter li label {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.33;
}

.catalog-filter button {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.38;
}

.buy_add-item {
    display: none;
}

.add_cart {
    display: none;
}

.item-list a {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.11;

}

.item-list li {
    width: 220px;
    border: 1px solid #e5e5e5;
    margin: 0;
    padding: 0;
    list-style: none;
}

.item-list del {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 17px;
    line-height: 1.06;
    color: #999999;
}

.item-list .price {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 17px;
    line-height: 1.06;
    color: #ffffff;
    background-color: #ee3643;
}